<head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="{{ site.baseurl }}/framework/bootstrap-3.3.7/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="{{ site.baseurl }}/framework/bootstrap-3.3.7/css/bootstrap-theme.min.css">
    <!-- JQuery -->
    <script src="{{ site.baseurl }}/framework/jquery-3.2.1.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="{{ site.baseurl }}/framework/bootstrap-3.3.7/js/bootstrap.min.js"></script>

    <style>
        body {
            position: relative;
        }
        .jumbotron li {
            padding-left: 15px;
        }
    </style>
	
    <title>{{ page.title }}{% if page.title %}-{% endif %}{{ site.name }}</title>

</head>