---
title: 关于
category: about
---
<!DOCTYPE html>
<html>
  {% include head.html %}
<body>
    {% include header.html %}
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-md-2">
                <img src="/img/zhushijia.jpg" style="width: 100%; margin-top: 20px" />
            </div>
            <div class="col-xs-12 col-md-10">
                <h1>朱诗家</h1>
                
                <p>
                    中国音乐家协会中国电子音乐学会理事，中央音乐学院电子音乐作曲专业博士，中央音乐学院及附属中学电子音乐作曲、电子音乐制作专业副教授。1978年10月25日出生于黑龙江省牡丹江市。1991年9月考入天津音乐学院附中初中键盘系，师从键盘系主任谢元教授。1994年9月考入中央音乐学院附中高中理论学科作曲专业，师从刘思军副教授及徐源教授。1997年9月以第三名考入中央音乐学院作曲系本科，师从郭文景，唐建平教授。2003年6月以主科第一名的成绩毕业。2003年9月考入中央音乐学院中国现代电子音乐中心研究生，师从张小夫教授。2006年6月以全票通过的答辩成绩毕业并留校任教。2010年5月11日，以总成绩全院第一的名次攻读电子音乐作曲博士。
                </p>
                <p>
                    学术活动方面：
                </p>
                <p>
                    2002年，2004年，2005年三年通过严格的作品邮寄筛选，作为唯一的中国学生参加了由世界著名作曲家细川俊夫举办的“武生音乐祭”；
                </p>
                <p>
                    2002年11月4日参加了2002北京电子音乐周（北京国际电子音乐节前身）的第一场音乐会，演出了电子音乐作品《东南飞》；
                </p>
                <p>
                    2004年的北京国际电子音乐节演出自己的电子音乐比赛《学会奖》获奖作品《云》；2006年电子音乐作品《云》的唱片由文联出版社正式出版。
                </p>
                <p>
                    两次参加每年十二月举办的中央音乐学院音乐节（2003，2004年）的电子音乐专场并演出自己的电子音乐作品；
                </p>
                <p>
                    参加了多次“北京现代音乐节”的电子音乐作品专场音乐会并演出自己的电子音乐作品；
                </p>
                <p>
                    2006年10月，论文《融合与拼贴-斯托克豪森的作品《颂歌》所体现的电子音乐理念》获首届MUSICACOUSTICA电子音乐论文比赛第二名（第一名空缺）。
                </p>
                <p>
                    2007年12月4日，应巴黎圣日尔曼德彪西音乐学院，法国交响乐协会之邀委约,创作了《东南飞II》为大型管乐队而作，并在巴黎圣日尔曼音乐厅演出。
                </p>
                <p>
                    2009年6月，应维也纳勋伯格学院邀请赴奥地利维也纳勋伯格学院讲学，并在著名法国作曲家布列兹的指导下创作新作品《SWAY》并演出。
                </p>
                <p>
                    2010年1月，应日本东京国立艺术大学副院长西岗龙彦的邀请赴东京国立艺术大学、私立洗足学园大学讲学并同时做了《无限你的无线》的主题大师讲学。
                </p>
                <p>
                    2010年3月26日，促成东京国立艺术大学附属中学成功访问中央音乐学院附中，并与之开展学术交流，当晚音乐会演出了重奏新作品《钢琴五重奏》。
                </p>
                <p>
                    2010年5月由人民音乐出版社出版了自己的第一张作品专辑《东南飞》。
                </p>
                <p>
                    2010年10月，梅兰芳大剧院中央音乐学院七十华诞音乐会上演出新作《琴声夜话》－为筝和电子音乐而作，这部作品于同年12月在日本东京艺术大学音楽环境创造科（电子音乐中心）演出。
                </p>
                <p>
                    2010年7月18日应美国俄勒冈州立大学邀请，赴美国参加计算机音乐大师班，获得高级艺术家文凭。
                </p>
                <p>
                    自2006年起每年皆担任亚洲 MUSICACOUSITICA 电子音乐作曲比赛的评委。
                </p>
                <p>
                    2011年6月在中央音乐学院附中阶梯教室作了《融合-斯托克豪森50-70年代MIX作品分析》的讲学
                </p>
                <p>
                    2011年9月17日在中央音乐学院2层音乐厅演出新作品《夜之鸟鸣》-为长笛与计算机音乐而作，由奥兰多.塞拉演奏（美国）。
                </p>
                <p>
                    2011年的论文《声音空间控制的艺术——扩散作为电子音乐创作及现场演出的手段及理念》发表在文化部核心期刊《演艺科技》上。
                </p>
                <p>
                    2012年3月18日在中央音乐学院2层音乐厅《爱尔兰音乐节》上演出了新作品《Point-为钢琴与计算机交互而作》。
                </p>
                <p>
                    2012年11月24日在中央音乐学院附中音乐厅，演出了受都柏林三重奏团委约的新作品《钢琴三重奏》。
                </p>
                <p>
                    2014年论文《声音空间控制的艺术——扩散作为电子音乐创作及现场演出的手段及理念》获文化部核心期刊《演艺科技》优秀论文三等奖，并收录于论文集中。
                </p>
                <p>
                    ZhuShijia, Professor and PHD of Electro-acoustic Music Composition in Central Conservatory of Music, Jury of Electro-Acoustic Music Competition of MUSICACOUSTICA-BE IJING，a board of directors of E.M.A.C (Electro acoustic Music Association of China). Born in 1978. Completed his B.M. in composition and M.M,PHD in Electroacoustic composition in The Central Conservatory of Music, Beijing. Recipient of the Second Prize in the 1st Musicacoustica Composition Competition, (2004), the Second Prize in the 1st Musicacoustica thesis Competition (2006). His works include compositions for orchestra, chamber ensembles, solo instruments, as well as electronic music compositions and music for various events and visual images. His works have been broadcast by National Radio France and have been played in many festivals and concerts of Japan, Austral, Germany, United States, and France, etc.
                </p>
            </div>
        </div>
    </div>
</body>
</html>
