<!DOCTYPE html>
<html>
  {% include head.html %}
<style>
    .list-group-item h6, .list-group-item audio {
        vertical-align: middle;
    }

    .height {
        max-height: 8.571em;
        overflow: hidden;
    }

    .tab-pane > p {
        margin-bottom: 0;
    }

    .more {
        margin-bottom: 10px;
    }
</style>
<script>
    $(document).ready(function () {
        $(".more").click(function () {
            $(".tab-pane.active > div").toggleClass("height");
            if ($(".tab-pane.active > .more").text() == "[展开]") {
                $(".tab-pane.active > .more").text("[收起]");
            } else {
                $(".tab-pane.active > .more").text("[展开]");
            }
        });
    });
</script>
<body>
    {% include header.html %}
    <div class="container" style="margin-top: 10px">
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <img src="/img/{{ page.img }}" style="width: 100%; margin: auto" alt="{{ page.title }}" />
            </div>
            <div class="col-xs-12 col-md-8">
                <h1>{{ page.title }}</h1>
                <ul class="nav nav-pills">
                    <li class="active"><a data-toggle="tab" href="#intro">简介</a></li>
                    <li><a data-toggle="tab" href="#artists">艺术家</a></li>
                    <li><a data-toggle="tab" href="#recnotes">录音手札</a></li>
                </ul>
                <div class="tab-content" style="margin-top: 10px">
                    <div id="intro" class="tab-pane active">
                        <div class="height">{{ page.description[0] }}</div>
                        <div class="more btn btn-link">[展开]</div>
                    </div>
                    <div id="artists" class="tab-pane">
                        <div class="height">{{ page.description[1] }}</div>
                        <div class="more btn btn-link">[展开]</div>
                    </div>
                    <div id="recnotes" class="tab-pane">
                        <div class="height">{{ page.description[2] }}</div>
                        <div class="more btn btn-link">[展开]</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-8 col-md-offset-4">
            <div class="list-group">
                <div class="list-group-item active">
                    曲目
                </div>
                {% for piece in page.pieces %}
                <div class="list-group-item">
                    {{ piece.name }}
                    <audio controls="controls">
                        {% for audio in piece.audios %}
                        <source src="/audio/{{ audio.filename }}" type="audio/{{ audio.type }}" />
                        {% endfor %}
                        <embed width="100" src="/audio/{{ audios[1].filename }}" />
                    </audio>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>
